.Login {
  height: fit-content;
  width: 40vw;
  margin: auto;
  padding: 20px 10px;
  box-shadow: 1px 1px 6px #666666;
  margin-top: 5vh;
}

@media screen and (max-width: 800px) {
  .Login {
    width: 80vw;
  }
}