​/*blocagem*/
.my-header-1.my-header-2 {
  height: 455px;
  padding: 40px;
  display: block;
  width: 100%;
}
.my-body {
  height: 55px;
  border-radius: 5px;
  border: rgba(0, 0, 0, 0.8);
}
.my-footer {
  height: 35px;
}
/*Tipografia*/
.my-title-1 {
  color: rgba(0, 0, 30, 0.7);
  font-size: 50px;
}
/*Img*/
.my-img {
  height: 110px;
  width: 110px;
}
/*input*/
.my-input-1 {
  border-radius: 5vh;
  border: none;
  width: 100%;
  background: white;
  height: 30px;
}
/*Body*/
/*Box*/
.my-box-1 {
  height: 300px;
  border: 2px solid whitesmoke;
  background: white;
}

h1 {
  color: #4682b4;
  font-size: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

svg {
  margin-right: 10px;
}

small {
  font-size: 15px;
}

input {
  flex: 1;
  border: 1px solid #eee;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 16px;
}

h2 {
  display: grid;
  text-align: center;
  color: #4682b4;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: row;
  align-items: center;
}
